<!DOCTYPE html>
<!-- Importar o thymeleaf -->
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Evento</title>
</head>
<body>
  <h1>Cadastro de eventos</h1>
  <form method="post">
    Nome: <input type="text" name="nome" id="">
    Local: <input type="text" name="local" id="">
    Data: <input type="date" name="data" id="">
    Horário: <input type="time" name="horario" id="">
    <button type='submit'>Salvar</button>
  </form>
</body>
</html>